<div class="outer-wrapper">
  <div class="carousel" #carousel>
    <div class="arrow left-arrow">
      <button mat-icon-button type="button"
              aria-label="Move Carousel Left"
              (click)="onLeftClick()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="outer-carousel-container">
      <div class="carousel-container" #carouselContainer>
          <div class="carousel-items" #carouselItems>
            <ng-content>
            </ng-content>
          </div>
      </div>
      <div class="scroll-thumb" #scrollThumb cdkDrag cdkDragLockAxis="x"
           cdkDragBoundary=".outer-carousel-container"></div>
    </div>

    <div class="arrow right-arrow">
      <button mat-icon-button
              aria-label="Move Carousel Left"
              (click)="onRightClick()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="showDiagnostics">
  {{diagnostics}}
</ng-container>

