.square-carousel-item {
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #666;
  color: #fff;
  font-weight: 500;
  font-size: 16pt;
  text-align: center;
}

.image-container {
  display: flex;
}
